<footer class="footer" id="contato">
  <div class="footer-container">
    
    <div class="cta-box">
      <h2>Fale conosco</h2>
      <!-- <h2>Pronto para estruturar o sucesso do seu negócio?</h2> -->
      <!-- <p>Na Bertis Contabilidade, mãe e filha uniram experiência e paixão para criar uma contabilidade digital descomplicada, ágil e estratégica</p> -->
    </div>

    <div class="channels">
      <a href="https://wa.me/5511988791883" target="_blank" class="channel-btn">
        <div class="icon-wrapper">
          <lucide-icon [img]="icons.phone" class="channel-icon"></lucide-icon>
        </div>
        <div class="text-group">
          <span class="subtitle">WhatsApp</span>
          <span class="main-text">11 98879-1883</span>
        </div>
      </a>

      <a href="https://instagram.com/bertiscontabil" target="_blank" class="channel-btn">
        <div class="icon-wrapper">
          <lucide-icon [img]="icons.instagram" class="channel-icon"></lucide-icon>
        </div>
        <div class="text-group">
          <span class="subtitle">Instagram</span>
          <span class="main-text">{{instagramBertis}}</span>
        </div>
      </a>

      <a href="mailto:bertiscontabil@gmail.com" target="_blank" class="channel-btn">
        <div class="icon-wrapper">
          <lucide-icon [img]="icons.mail" class="channel-icon"></lucide-icon>
        </div>
        <div class="text-group">
          <span class="subtitle">E-mail</span>
          <span class="main-text">{{mailBertis}}</span>
        </div>
      </a>
    </div>

    <div class="footer-bottom">
      <p class="copyright">© 2026 BERTIS Assessoria e Contabilidade. Todos os direitos reservados</p>
      <p class="brand-slogan">Mais que contabilidade, somos parceiros do seu sucesso!</p>
    </div>

  </div>
</footer>